@{
    Layout = null;
}
@model IList<Tip>
@using CRS.Business.Models.Entities;
@using CRS.Web.Models;
<div class="related-link">
    <ul class="other-article-list">
        @for (var i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <li title="@item.Title">@Html.TipImageActionLink("Tips", @Url.ShowImage(item.ImageUrl, ImageType.Thumbnail), item.Title, item.Id, item.Title, item.TitleUrl, new { @height = "100px", @width = "100px" })
                @Html.TipLink(item.Id, item.Title.TruncateWord(13), item.TitleUrl)
                <span>@item.Views lượt xem</span> </li>
        }
    </ul>
</div>
