@if (false)
{
    // Just use this script to enable jQuery intellisense in Visual Studio. Never render to real HTML.
    <script src="/Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>
}
@using CRS.Web.Models
@model CRS.Web.Areas.Admin.ViewModels.ManageSpam.ListReportedTipViewModel        
@{
    ViewBag.Title = "Manage Spam";
    ViewBag.MenuGroup = "Spam";
    ViewBag.MenuName = "ManageReportedTips";
    ViewBag.PageHeader = "Manage Reported Tips";
}
@Html.ValidationSummary(true, ValidationMessages.Summary)
@using (Html.BeginForm("ManageReportedTip", "ManageSpam", FormMethod.Get))
        {
            <div class="input">
                <div>
                    @Html.ValidationMessageFor(o => o.MinReportNumber)
                </div>
                <p>
                   <label class = "filter-label">Display Tips with number of reports greater than or equal to:</label>
                    @Html.TextBoxFor(o => o.MinReportNumber, new { name = "minReportNumber" })
                    <button type="submit">Filter</button>
                </p>
            </div>   
        } 
 
@(Html.Telerik().Grid(Model.Tips)
           .Name("Tips")
           .DataKeys(dataKeys => dataKeys.Add(c => c.Id))
           .Columns(columns =>
           {
               columns.Template(
                   @<text>
                        @Html.TipLink(item.Id, item.Title, item.TitleUrl, new { target = "_blank" })
                   </text>    
               ).Width("300px").Title("Title");
               columns.Template(
                   @<text>
                   @Html.UserLink(item.PostedBy.Id, item.PostedBy.Username, new { target = "_blank" })
                   </text>
               ).Width("100px").Title("Posted By");
               columns.Bound(o => o.PostedDate).Width("140px");
               columns.Template(
                   @<text>
                        <a class="view-reports"><u>@item.Reports</u></a>
                        <input type="hidden" value="@item.Id" class="id" />
                   </text>
                ).Width("80px").Title("Reports");
               columns.Template(
                  @<text>
                        @Html.Partial("_FalseReportButton", new ActionInfo("Not spam", "DeleteFalseTipReports") { Id = item.Id })
                        @Html.Partial("_DeleteButton", new ActionInfo("Delete", "DeleteReportedTip") { Id = item.Id })
                  </text>
               );
           })
           .Pageable(pager => pager.PageSize(AppConfigs.DefaultAdminGridPageSize))
           .Sortable()
           .Scrollable(scrolling => scrolling.Enabled(true).Height(350))
                            )
@(Html.Telerik().Window()
        .Name("reports-window")
        .Title("Tip Reports")
        .Content(
            @<text>
                <div id="report-details"></div>
            </text>
        )
        .Width(500)
        .Height(500)
        .Scrollable(true)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
)

<script type="text/javascript">
    $(document).ready(function () {
        $(".view-reports").click(function (e) {
            e.preventDefault();
            var id = $("~ .id", this).val();
            $("#report-details").html("");
            $("#report-details").load("@Url.Action("ReportDetails", new { group="tip" })", "id=" + id);
            $('#reports-window').data('tWindow').center().open();
        });

       $(".t-grid-delete").click(function (e) {
           if ($(this).html().indexOf("Delete") >= 0) {
                if (!confirm("Are you sure you want to delete this Tip?")) {
                    return false;
                }
            }
            if ($(this).html().indexOf("False Report") >= 0) {
                if (!confirm("Are you sure you want to delete all reports belong to this Tip?")) {
                    return false;
                }
            }
        });

        
    });
</script>