@model CRS.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<div class="content-wrapper">
    <h1 class="title">
        Đổi mật khẩu</h1>
</div>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "user-pass" }))
{ 

@*Message*@
    @Html.Partial("_Message")
    <div class="form-item form-type-textfield form-item-name">
        @*Old Password*@
        <div class="editor-label required">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        @*New Password*@
        <div class="editor-label required">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        @*Confirm new password*@
        <div class="editor-label required">
            @Html.LabelFor(m => m.ConfirmNewPassword)
            @Html.PasswordFor(m => m.ConfirmNewPassword)
            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
        </div>
    </div>

    <div id="edit-actions" class="form-actions form-wrapper">
        <input id="edit-submit" class="form-submit" type="submit" value="Thay đổi" name="op">
        <div align="center">@Html.ActionLink("Hủy bỏ", "CancelChangePassword", "Account", null, null)</div>
    </div>  
}