@model CRS.Web.ViewModels.Account.RequestResetPasswordViewModel
@using CRS.Resources
@{
    ViewBag.Title = "Quên mật khẩu";
}
@Html.ValidationSummary(true, ValidationMessages.Summary)
@Html.Partial("_Message")
<div class="content-wrapper">
    <h1 class="title">
        Lấy lại mật khẩu</h1>
</div>
@using (Html.BeginForm("RequestResetPassword", "Account", FormMethod.Post, new { id = "user-pass" }))
{
    <div class="form-item form-type-textfield form-item-name">
        @*Email*@
        <div class="editor-label required">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div id="edit-actions" class="form-actions form-wrapper">
        <input id="edit-submit" class="form-submit" type="submit" value="Gửi mật khẩu mới"
            name="op">
    </div>  
}