@model CRS.Web.ViewModels.Account.ResetPasswordViewModel
@using CRS.Resources
@{
    ViewBag.Title = "Tạo mật khẩu mới";
}
@Html.ValidationSummary(true, ValidationMessages.Summary)
<div class="content-wrapper">
    <h1 class="title">
        Khởi tạo mật khẩu</h1>
</div>
<div class = "replace-form-id">
@using (Html.BeginForm())
{
    <div class="form-item form-type-textfield form-item-name">
        @*Password*@
        <div class="editor-label required">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        @*Confirm Password*@
        <div class="editor-label required">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div id="edit-actions" class="form-actions form-wrapper">
        <input id="edit-submit" class="form-submit" type="submit" value="Tạo mật khẩu mới"
            name="op">
    </div>
}
</div>