@model CRS.Business.Models.Entities.NewsComment
@Html.ValidationSummary(true, ValidationMessages.Summary)
@*@using (Html.BeginForm("Comment", "PlaceComments", FormMethod.Post))
{*@
<div class="editor">
    @Html.HiddenFor(m => m.NewsId)
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ValidationMessageFor(m => m.ContentText, "", new { id = "validatereplymessage" })        
    }
    <fieldset>
        @Html.TextAreaFor(m => m.ContentText, new { id = "replycontent", @tabindex = "1", @rows = "3" })
    </fieldset>
</div>
<div id="replybuttons">
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            Bạn phải @Html.ActionLink("đăng nhập", "Login", "Account", new { returnUrl = Request.UrlReferrer.AbsolutePath }, null)
            để sử dụng chức năng này. Nếu bạn chưa có tài khoản, hãy đăng ký @Html.ActionLink("tại đây", "Register", "Account")</p>               
    }
    else
    { 
        <input type="button" class="submit small uniform-processed" id="submitcomment" tabindex="2" value="Bình luận" />
    }
</div>
@*}*@
<script type="text/javascript">
    $(document).ready(function () {        
    
        var isPosting = false;
        $("#submitcomment").click(function (e) { 
            e.preventDefault();
            @if (Request.IsAuthenticated)
            {
                <text>
                if (isPosting)
                    return false;
                isPosting = true;
                var content = $('#replycontent').val();
                $.ajax ({
                    type: "POST",
                    url: "@Url.Action("Comment", "NewsComments")",
                    dataType: "html",
                    data: {  
                        newsid: @Model.NewsId, 
                        ContentText: content
                    },
                    success: function (data) {
                         $('#replycontent').val("");
                        $('.comment-list').prepend(data);
                        var firstli = $('#comment-list li').first();
                        $(firstli).show(200, function(){$(this).fadeTo(300,1)});

                        if(data != "") {
                            var total = parseInt($("#totalNewsComment").html());
                            $("#totalNewsComment").html(total + 1);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.statusText);
                        alert(thrownError);                        
                    },
                    complete: function() {
                        isPosting = false;
                    }
                });
                </text>
            }
            else
            {
                @:showUnauthorizedMessage();
            }
        });
    });
</script>
