@model CRS.Web.ViewModels.TipComments.ListTipCommentViewModel
@using CRS.Business.Models.Entities
@using CRS.Web.ViewModels.Tips
@using CRS.Web.Models
@using CRS.Common.Helpers
@{
    Layout = null;
}
@if (Model.HighlightComments.Count > 0)
{
    var title = Model.CurrentUserId == 0 ? ". Bạn phải đăng nhập để sử dụng chức năng này" : "";
    <h2 class="title">
        Bình luận được yêu thích</h2>
    <div id="comment-section" class="comment-wrapper">
        <div id="comments" class="clearfix">
            <ul id="comment-list">
                @foreach (var item in Model.HighlightComments)
                { 
                    <li id="liTipComment_@(item.Id)">
                        <div class="user-picture small-avatar">
                            <a href="@Url.UserLink(item.PostedById, item.PostedBy.Username)">
                            <img src="@Url.UserAvatar(item.PostedBy, ImageType.Thumbnail)" alt="@item.PostedBy.Username.Truncate(10)" class="small-imgavatar" width="50px" height="50px"></a>
                        </div>
                        <div class="comment-content">
                            <h3>
                                <span>
                                    @Html.UserLink(item.PostedById, item.PostedBy.Username, new { @class = "username" })
                                </span>
                                <ul class="liststatiticdet" style="display: none;">
                                @Html.Partial("_VoteUp", new VoteModel(item.Id, title, item.UpVotes, "TipComment", Model.CurrentUserId != item.PostedById))
                                @Html.Partial("_VoteDown", new VoteModel(item.Id, title, item.DownVotes, "TipComment", Model.CurrentUserId != item.PostedById))
                                @if (Model.CurrentUserId != item.PostedById)
                                {
                                    @Html.Partial("_Report", new ReportModel(item.Id, title, "TipComment"))
                                }
                                else
                                {
                                    @Html.Partial("_Delete", new DeleteModel(item.Id, item.PostedById, title, "TipComment"))
                                }
                            </ul>
                            </h3>
                            <span class="meta"><span>@item.PostedDate.AgoString()</span> </span>
                            <div class="field field-name-comment-body field-type-text-long field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <p>
                                            @item.ContentText
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>             
}
<h2 class="title">
    Có <span id="totalTipComment">@Model.Total</span> bình luận</h2>
@Html.Partial("_CommentInputForm", new TipComment { TipId = Model.TipId })
<div id="comment-section" class="comment-wrapper">
    <div id="comments" class="clearfix">
        <ul id="comment-list" class="comment-list">
            @Html.Partial("_CommentList", Model)
            @if (Model.HasMore)
            { 
                <a class="more" id="more">xem thêm</a>
            }
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var reportId = 0;
    });
    
    var page = 1;
    var isLoading = false;
    $("#more").live('click', function (e) {
            e.preventDefault();

            if (isLoading)
                return false;
            isLoading = true;
            $(this).html("<img src='@Url.Content("~/Content/images/main/loading.gif")' />");
            $.ajax( {
                type: "POST",
                url: "@Url.Action("ListMore", "TipComments")",
                dataType: "html",
                data: {
                    tipid: @Model.TipId,
                    total: @Model.Total,
                    page: page + 1,
                },
                success: function (data) {
                    page++;
                    // replace "more" button by new data
                    $("#more").replaceWith(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.statusText);
                    alert(thrownError);
                    $("#more").html("có lỗi xảy ra, bạn hãy đợi một chút và thử lại");
                },
                complete: function() {
                    isLoading = false;
                }
            });
        });
</script>
