@model CRS.Web.ViewModels.Tips.TipDetailsViewModel
@using CRS.Business.Models.Entities
@using CRS.Web.ViewModels.Tips
@using CRS.Web.Models
@using CRS.Web.Helpers
@using CRS.Common.Helpers
@using CRS.Resources
@Html.ValidationSummary(true, ValidationMessages.Summary)
@Html.Partial("_Message")
@{
    var title = Model.CurrentUserId == 0 ? ". Bạn phải đăng nhập để sử dụng chức năng này" : "";
}
@{
    ViewBag.Title = Model.Tip.Title;
    ViewBag.MenuName = "Tips";    
}
<div class="content-wrapper">
    <ul id="breadcrum">
        <li id="crum-home"><a href="@Url.Action("Index", "Home")">Trang chủ</a> </li>
        <li><a href="@Url.Action("Index", "Tips")">Mẹo vặt</a> </li>
        <li class="current">@Html.TipCategoryLink(Model.Tip.TipCategories.Name, Model.Tip.TipCategoryId, Model.Tip.TipCategories.Name)
        </li>
    </ul>
</div>
<div class="section-headline">
    <div class="section-headline-content">
        <h1 title="@Model.Tip.Title">
            @Model.Tip.Title.Truncate(80)
        </h1>
    </div>
</div>
<div class="content-wrapper">
    <div id="node-7744" class="node node-recipe node-promoted" about="#" typeof="sioc:Item foaf:Document">
        <div id="meta-box">
            <ul class="user-actions bor-bot action-article">
                <li>
                    <div class="user-picture small-avatar">
                        <a href="@Url.UserLink(Model.Tip.PostedBy.Id, Model.Tip.PostedBy.Username)" title="Xem trang cá nhân">
                            <img src="@Url.UserAvatarUrl(Model.Tip.PostedBy.AvatarUrl, CRS.Web.Models.ImageType.Thumbnail)" alt="Ảnh đại diện" height="40px" width="40px" />
                        </a>
                    </div>
                    <div class="meta">
                        @Html.UserLink(Model.Tip.PostedBy.Id, Model.Tip.PostedBy.Username, new { @class = "username" })
                        <p class="level">
                            @Model.Tip.PostedBy.Level
                        </p>
                    </div>
                </li>
                <li class="user-date-post"><span>@Model.Tip.Views lượt xem - @Model.Tip.PostedDate.AgoString()
                </span></li>
                <!--begin social-->
                <li class="user-share"><a id="various" href="#inline1">Chia sẻ</a></li>
                <div style="display: none;">
                    <div id="inline1">
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/main/social-facebook-box-blue-icon.png")" border="0px" /></a>&nbsp;
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/main/social-google-box-blue-icon.png")" border="0px" /></a>&nbsp;
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/main/Tumblr-icon.png")" border="0px" /></a> &nbsp;
                        <a href="#">
                            <img src="@Url.Content("~/Content/images/main/Google-Plus-13-icon.png")" border="0px" /></a>
                    </div>
                </div>
                <!--end social-->
                <li class="user-fb-like">
                    <fb:like href="#" show_faces="false" layout="button_count" width="85" action="like"
                        font="verdana" colorscheme="light"></fb:like>
                </li>
                <li class="user-fb-like">
                     <!-- Place this tag where you want the +1 button to render. -->
                    <div class="g-plusone" data-size="medium"></li>
            </ul>
        </div>
        <p class="desc">
            @Model.Tip.ContentText
        </p>
        @Html.Raw(Model.Tip.ContentHtml)
        @if (Model.CurrentUserId == Model.Tip.PostedById || Model.CanEdit)
        {
            <a href="@Url.Action("Edit", "Tips", routeValues: new { id = @Model.Tip.Id })" class="edit-hyperlink">
                Chỉnh sửa thông tin</a> 
        }
        <p>
            <div class="boxreport">
                <ul class="liststatiticdet">
                    @Html.Partial("_VoteUp", new VoteModel(@Model.Tip.Id, title, @Model.Tip.UpVotes, "Tip", Model.CurrentUserId != Model.Tip.PostedById))
                    @Html.Partial("_VoteDown", new VoteModel(@Model.Tip.Id, title, @Model.Tip.DownVotes, "Tip", Model.CurrentUserId != Model.Tip.PostedById))
                    @Html.Partial("_Report", new ReportModel(@Model.Tip.Id, title, "Tip"))
                </ul>
            </div>
        </p>
        <!-- All Comments -->
        <div class="place-comments">
            <div id="comments-container">
                <h2 class="title">
                    Có <span id="totalTipComment">@Model.Tip.Comments</span> bình luận</h2>
                <div class="loading">
                    <img src="@Url.Content("~/Content/images/main/loading.gif")" />
                </div>
            </div>
        </div>
        @Html.Partial("_TopTipsByCategory", Model)
        @Html.Partial("_TopTips")
    </div>
</div>
@Html.Partial("_ReportPopup")
@Html.Partial("_UnauthorizedDialog")
@section Script
{
    <script src="@Url.Content("~/Scripts/jquery-ui/jquery-ui-1.8.22.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/jquery-ui/redmond/jquery-ui-1.8.22.custom.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript"> 
         isAuthenticated = @Request.IsAuthenticated.ToString().ToLower();

 $(document).ready(function () {
 // Load comments
            $("#comments-container").load("@Html.Raw(Url.Action("List", "TipComments", new { tipId = Model.Tip.Id, total = Model.Tip.Comments }))");
            });
    </script>
}
