@model CRS.Web.ViewModels.Questions.ListQuestionViewModel
@using CRS.Web.Models
@using CRS.Resources
@{
    ViewBag.Title = "Hỏi & đáp";
    ViewBag.MenuName = "Questions";
    Layout = "~/Views/Shared/_LayoutQuestion.cshtml";
}
@Html.Partial("_Message")
@Html.ValidationSummary(true, ValidationMessages.Summary)
@if (Model != null)
{    
    <div class="section-headline">
        <div class="section-headline-content">
            <h2>
                Hỏi & đáp
            </h2>
        </div>
    </div>
    if (Model.Questions.Count > 0)
    { 
        <ul class="recipe-list">
            @Html.Partial("_QuestionList", Model.Questions)
            @if (Model.HasMore) {
            @Html.ActionLink("xem thêm", "Index", "Questions", new { page = Model.Page + 1 }, new { @class = "more", id = "more" })
            }
        </ul>
    }
    else
    {
    <div class="content-wrapper">
        <h2 class="title">
            Không có câu hỏi nào!</h2>
    </div>
    }
}
@section Script
{
    @if (Model != null && Model.HasMore)
    {
        <script type="text/javascript">
        var isLoading = false;
        var page = 1;
        
            $("#more").live('click', function (e) {
                e.preventDefault();
                if (isLoading)
                    return false;
                isLoading = true;
                $(this).html("<img src='@Url.Content("~/Content/images/main/loading.gif")' />");
                $.ajax( {
                    type: "POST",
                    url: "@Url.Action("IndexMore", "Questions")",
                    dataType: "html",
                    data: {                    
                        page: page + 1,
                    },
                    success: function (data) {
                        page++;
                        // replace "more" button by new data
                        $(".recipe-list .last").removeClass("last");
                        $("#more").replaceWith(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.statusText);
                        alert(thrownError);
                        $("#more").html("có lỗi xảy ra, bạn hãy đợi một chút và thử lại");
                    },
                    complete: function() {
                        isLoading = false;
                    }
                });
            });        
        </script>
    }
}
